.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Theme-Light {
  height: 100%;
  background: #92a4b1;
  color: #1e2025;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition:all 0.2s ease-in-out;
}

.Theme-Dark {
  height: 100%;
  background: #1e2025;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition:all 0.2s ease-in-out;
}

.Theme-Light .Button-Light {
  height: 40px;
  width: 150px;
  padding-top: 5px;
  background: #29343d;
  color: #92a4b1;
  border: none;
  border-radius: 2px;
}

.Theme-Dark .Button-Dark {
  height: 40px;
  width: 150px;
  padding-top: 5px;
  background: #5a7480;
  color: #1e2025;
  border: none;
  border-radius: 2px;
}

.Hero-Card {
  width: 500px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 30px;
  background: white;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
  border-radius: 2px;
}

.Hero-Card img {
  height: 60px;
  width: 60px;
}

.Pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1105px;
  margin: auto;
}

.Pagination-list {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.Theme-Light li {
  display: flex;
  width: 22px;
  height: 22px;
  margin: 1px;
  border-radius: 2px;
  background: #1e2025;
  color: #92a4b1;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Theme-Dark li {
  display: flex;
  width: 22px;
  height: 22px;
  margin: 1px;
  border-radius: 2px;
  background: #5a7480;
  color: #1e2025;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Theme-Light button {
  height: 22px;
  width: 48px;
  background: #29343d;
  color: #92a4b1;
  border: none;
  border-radius: 2px;
}

.Theme-Dark button {
  height: 22px;
  width: 48px;
  background: #5a7480;
  color: #1e2025;
  border: none;
  border-radius: 2px;
}